<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProfile name="local | test | mock">
        <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{HH:mm:ss.SSS} %5p - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="info">
            <appender-ref ref="stdout" />
        </root>
    </springProfile>

    <!-- Configuração padrão de log (quando nenhum perfil específico é ativo) -->
    <springProfile name="default">
    	<include resource="org/springframework/boot/logging/logback/defaults.xml" />
    	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />
        
        <root level="info">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
</configuration>
